section.main-section.faq
    .main-content
        .bread-crumbs
            ul.bread-crumbs__list
                li.bread-crumbs__item
                    a.home-btn(href="index.html")
                        +image('home-icon.svg', 'icon', 'home-icon__image')
                li.bread-crumbs__item
                    p.bread-crumbs__link.uppercase-link Faq
        h1.main-title.faq-title Ответы на частые вопросы
        .faq__board
            .questions
                ul.questions__list
                    li.question__item
                        .question 
                            a(href="#0").question-text.accordion С какими языками работаете? Есть ли англоязычный крауд?
                            .answer.panel Пишем посты на русском и украинском языках. Работаем в России, Украине, Белоруссии и Казахстане. Англоязычный крауд не делаем, но точно будем. Оставляйте свои заявки, чтобы получить серьёзные скидки, когда мы откроем это направление.
                    li.question__item 
                        .question
                            a(href="#0").question-text.accordion Какие скидки и бонусы можно получить и за что?
                            .answer.panel Пишем посты на русском и украинском языках. Работаем в России, Украине, Белоруссии и Казахстане. Англоязычный крауд не делаем, но точно будем. Оставляйте свои заявки, чтобы получить серьёзные скидки, когда мы откроем это направление.
                    li.question__item 
                        .question
                            a(href="#0").question-text.accordion Какие сроки выполнения моего заказа?
                            .answer.panel Пишем посты на русском и украинском языках. Работаем в России, Украине, Белоруссии и Казахстане. Англоязычный крауд не делаем, но точно будем. Оставляйте свои заявки, чтобы получить серьёзные скидки, когда мы откроем это направление.
                    li.question__item 
                        .question
                            a(href="#0").question-text.accordion Какой минимальный и максимальный заказ?
                            .answer.panel Пишем посты на русском и украинском языках. Работаем в России, Украине, Белоруссии и Казахстане. Англоязычный крауд не делаем, но точно будем. Оставляйте свои заявки, чтобы получить серьёзные скидки, когда мы откроем это направление.
                    li.question__item 
                        .question
                            a(href="#0").question-text.accordion Как происходит оплата?
                            .answer.panel Пишем посты на русском и украинском языках. Работаем в России, Украине, Белоруссии и Казахстане. Англоязычный крауд не делаем, но точно будем. Оставляйте свои заявки, чтобы получить серьёзные скидки, когда мы откроем это направление.
            form.faq__form
                h5.faq__form-title Не нашли ответ на свой вопрос?
                span.faq__form-subtitle Напишите его тут, мы ответим вам на почту
                label.faq-label 
                    span.faq-name Имя
                    input(type="text").faq-input
                label.faq-label 
                    span.faq-name Email
                    input(type="text").faq-input
                label.faq-label 
                    span.faq-name Опишите интересующий вас вопрос
                    textarea.faq-input.faq-area
                button(type="submit").faq-submit Задать вопрос