footer.footer
    .main-content
        .footer__top
            .footer__top-left
                a.footer-logo__link(href='index.html')
                    +image("footer-logo.png", "trustcrow.link логотип", "footer-point")
            .footer__top-right
                nav.footer__nav 
                    ul
                        li
                            a(href="#0") Работы
                        li
                            a(href="#0") Тарифы
                        li
                            a(href="faq.html") Faq
                        li
                            a(href="news.html") Новости
        .footer__bottom
            span.footer-copyright 2019 	&#169; Все права защищены
            a.footer__linl-pointer(href="https://point-agency.net/", target="_blank")
                +image("point-logo.svg", "поинт лого", "footer-point")