section.main-section.hero
    include ./header.pug
    .main-content
        .hero__desc
            .hero__title.main-title Крауд маркетинг 
                span.main-title--add-text Мы делаем раз, два, три.
            .hero__subtitle Статистика проекта:
                .hero__subtitle--add-text n сайтов, n клиентов, n проставленных ссылок
            a.hero__button(href="#order" type="button") начать работать
        