section.main-section.news
    .main-content
        .news__header
            h1.main-title.news-title Последние новости
            .news__socials
                span.news__socials-title Быстрее в наших соц. сетях: 
                ul.socials__list
                    li.socials__item
                        a.socials__link(href="news_link.html", target="_blank")
                            +image('social-fb.svg', 'icon', 'socials-icon')
                    li.socials__item
                        a.socials__link(href="news_link.html", target="_blank")
                            +image('social-twitter.svg', 'icon', 'socials-icon')
                    li.socials__item
                        a.socials__link(href="news_link.html", target="_blank")
                            +image('social-insta.svg', 'icon', 'socials-icon')
                    li.socials__item
                        a.socials__link(href="news_link.html", target="_blank")
                            +image('social-telegram.svg', 'icon', 'socials-icon')
        .news__blocks
            ul.block__list
                li.block__item
                    a(href="news.html#news_1").block__item-link
                        .block__img
                            +image("news-network.png", "переходы по ссылкам", "news-img")
                        .block__content
                            .block__content-text Почему по моим ссылкам никто не переходит или как не потратить кучу денег в пустую?
                            .block__content-date 28 ноября 2018
                li.block__item
                    a(href="news.html#news_2").block__item-link
                        .block__img
                            +image("news-context.png", "контекстная реклама лого", "news-img")
                        .block__content
                            .block__content-text Почему контекстная реклама не дала вам результат? Разбираемся в проблеме
                            .block__content-date 28 ноября 2018
        .news__button-place
            a(href="news.html").news__btn Все новости
