section.main-section.partners
    .main-content
        .partners__head
            h1.main-title.partners-title Партнеры
            span.partners__subtitle Наши партнеры и клиенты это более 150 агенств, SEO специалистов и маркетологов
        .partners__block
            ul.partners__list
                li.partners__item
                    +image("partner-rocs.png", 'компания rocs лого', 'partner__logo')
                li.partners__item
                    +image("partner-old_town.png", 'компания old town лого', 'partner__logo')
                li.partners__item
                    +image("partner-xtrig.png", 'компания xtrig лого', 'partner__logo')
                li.partners__item
                    +image("partner-knowless.png", 'компания knowless лого', 'partner__logo')
                li.partners__item
                    +image("partner-aplic.png", 'компания aplic resolit лого', 'partner__logo')
        .partners__desc
            .desc-text
                .desc-text__content Сложившаяся структура организации позволяет оценить значение соответствующий условий активизации. Товарищи! новая модель организационной деятельности позволяет выполнять важные задания по разработке существенных финансовых и административных условий. Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности влечет за собой процесс внедрения и модернизации модели развития. С другой стороны консультация с широким активом требуют от нас анализа направлений прогрессивного развития.
            .desc-person
                .desc-person__name Евгений Дробовой
                .desc-person__position Глава маркетингового отдела ООО "ROCS"