section.main-section.tariffs
    .main-content
        header.tariffs__header
            ul.tariffs__header-list
                li.tariffs__header-item
                    .tariffs__header-icon
                        +image("features-girl.png", "женщина лого", "tariffs__header-img")
                    .tariffs__header-desc Развитие лояльного мнения общества
                li.tariffs__header-item
                    .tariffs__header-icon
                        +image("features-graph.png", "увеличение трафика лого", "tariffs__header-img")
                    .tariffs__header-desc Увеличение трафика потенциальных потребителей
                li.tariffs__header-item
                    .tariffs__header-icon
                        +image("features-group.png", "распространения информации лого", "tariffs__header-img")
                    .tariffs__header-desc Быстрое распространение информации по вашей ЦА
        h2.main-title.tariff-title Тарифы
        h3.tariffs__subtitle Удобная сетка тарифов под ваши потребности, подберите самый оптимальный план для своего бизнеса
        .tariffs__box
            .tariffs__forum
                h2.tariffs__forum-title Форумы
                ul.tariffs__forum-list
                    li.tariffs__forum-item
                        .tariffs__item-top
                            .tariffs__item-icon
                                +image("tariff-new.png", "иконка тарифа", "tariffs__header-img")
                            .tariffs__item-tariff Тариф
                            .tariffs__item-name Новые темы
                        .tariffs__item-price 3,5$/1,1$
                        .tariffs__item-desc
                            ul.tariffs__item-list
                                li.tariffs__item-item На форуме создается новая тема с аккаунта №1.
                                li.tariffs__item-item В течении 2 дней публикуются 3 сообщения с аккаунтов №2, №3 и №4.
                                li.tariffs__item-item На 3-4 день оставляем пост со ссылкой от аккаунта № 5
                                li.tariffs__item-item На 4-5 день публикуется ответ с аккаунта №1.
                                li.tariffs__item-item Объем текста поста по ссылкой: от 350 символов.
                            .tariffs__item-line
                            button.tariffs__item-btn(type="button") Заказать
                    li.tariffs__forum-item
                        .tariffs__item-top
                            .tariffs__item-popular популярный
                            .tariffs__item-icon
                                +image("tariff-simple.png", "иконка тарифа", "tariffs__header-img")
                            .tariffs__item-tariff Тариф
                            .tariffs__item-name Обычный
                        .tariffs__item-price 4$/1,25$
                        .tariffs__item-desc
                            ul.tariffs__item-list
                                li.tariffs__item-item Посты публикуются в обсуждаемых темах, где последний пост оставлен не позднее 30 дней назад.
                                li.tariffs__item-item Объем текста поста по ссылкой: от 350 символов.
                            .tariffs__item-line
                            button.tariffs__item-btn(type="button") Заказать
                    li.tariffs__forum-item
                        .tariffs__item-top
                            .tariffs__item-icon
                                +image("tariff-vip.png", "иконка тарифа", "tariffs__header-img")
                            .tariffs__item-tariff Тариф
                            .tariffs__item-name VIP
                        .tariffs__item-price 8$/3,5$
                        .tariffs__item-desc
                            ul.tariffs__item-list
                                li.tariffs__item-item Индивидуальный крауд маркетинг
                                li.tariffs__item-item Подходит для тех, кто хочет получить ссылки + максимально больше переходов.
                                li.tariffs__item-item Подбор форумов по параметрам: ТИЦ, ХУиц, Посещаемость и т.д.
                                li.tariffs__item-item Черный список сайтов запрещенных для публикации.
                                li.tariffs__item-item В этот тариф включена дополнительная услуга: Улучшенные посты.
                            .tariffs__item-line
                            button.tariffs__item-btn(type="button") Заказать
            .tariffs__comments
                h2.tariffs__comments-title Комментарии в статьях
                .tariffs__comments-item
                    .tariffs__item-top
                        .tariffs__item-icon
                            +image("tariff-comments.png", "иконка тарифа", "tariffs__header-img")
                        .tariffs__item-tariff Тариф
                        .tariffs__item-name.tariffs__item-name--color Комментарии в статьях
                    .tariffs__item-price 3.5$
                    ul.tariffs__item-list.tariffs__comments-list
                        li.tariffs__item-item Комментарий размещается в статье где есть свежие комментарии за последние 30 дней.
                        li.tariffs__item-item Объем текста поста по ссылкой: от 350 символов.
                    button.tariffs__item-btn.tariffs__item-btn--width(type="button") Заказать
        .tariffs__addServices
            h2.services-title Дополнительные услуги
            h3.services-subtitle При необходимости подключения каких-либо дополнительных услуг напишите об этом Вашему персональному менеджеру
            .steps__box
                ul.steps__list
                    li.steps__item.steps__item-tariff
                        .steps__top
                            .steps__desc Размещение исключительно кликабельных ссылок
                        .steps-line
                        .steps__sale
                            .steps__num +20% 
                            .steps__to к стоимости
                    li.steps__item.steps__item-tariff
                        .steps__top
                            .steps__desc Использование уникальных площадок без повторов в рамках одного проекта
                        .steps-line
                        .steps__sale
                            .steps__num +25% 
                            .steps__to к стоимости
                    li.steps__item.steps__item-tariff
                        .steps__top
                            .steps__desc Использование уникальных площадок без повторов из прошлых проектов
                        .steps-line
                        .steps__sale
                            .steps__num +30% 
                            .steps__to к стоимости
                    li.steps__item.steps__item-tariff
                        .steps__top
                            .steps__desc Размещение в темах где нет ниодной ссылки
                        .steps-line
                        .steps__sale
                            .steps__num +30% 
                            .steps__to к стоимости
