section.main-section.warranty
    .main-content
        .warranty__head
            h1.main-title Гарантии
            .warranty-subtitle Мы работает по жестким стандартам которые делают Крауд маркетинг максимально эффективным. Выполненой работой считается только достигнутый результат.
        .features
            ul.features__list
                li.features__item
                    h5.features__name Качество
                    .features__desc Большой список соблюдаемых правил, редакторская правка каждого поста, без доверенных ресурсов - всё направлено на результат.
                li.features__item
                    h5.features__name Гарантия
                    .features__desc Автоматический мониторинг и выдержка постов перед сдачей каждого проекта. Гарантия на результат. Удалили - перещамешаем.
                li.features__item
                    h5.features__name Опыт
                    .features__desc Работаем с огромным кол-вом проектов в разных нишах и с разными требованиями. Работаем в России, Украине, Белоруссии и Казахстане.
                li.features__item
                    h5.features__name Отчётность
                    .features__desc Развёрнутые и масштабируемые отчёты точно в срок. Вы всегда в курсе, за что нам платите.
        .steps
            h3.steps__title Чтобы начать работать, нужно:
            .steps__block
                ul.steps__list.steps__list--warranty
                    li.steps__item
                        .steps__number 1
                        .steps__desc Формируем техническое задание или заполняем #[a(href="#0").steps__link форму заявки ниже] 
                    li.steps__item
                        .steps__number 2
                        .steps__desc Внесите депозит в размере 50% от общей суммы договора
                    li.steps__item
                        .steps__number 3
                        .steps__desc Мы выполняем сформированное задание
                    li.steps__item
                        .steps__number 4
                        .steps__desc Вы получаете отчет о проделанное работе и оплачиваете оставшиеся 50%
        .payment
            h3.payment__title Принимаем для оплаты:
            +image('webmoney.png', 'вебмани лого', 'payment__pic')
            +image('private-bank.png', 'банк приват лого', 'payment__pic')