section.main-section.works
    .main-content
        h2.main-title.works__title Наши работы
        h3.tariffs__subtitle.works__subtitle Ознакомтесь с кейсами наших клиентов, вы можете сортировать работы по интересующему вас тарифу 
        .works__slider-box
            .works__slider-tabs
                button.works__slider-btn.works__slider-btn--active(type="button" onclick="openBlock (event, 'slider__tab-1')") новые темы
                button.works__slider-btn(type="button" onclick="openBlock(event, 'slider__tab-2')") обычный
                button.works__slider-btn(type="button" onclick="openBlock(event, 'slider__tab-3')") vip
                button.works__slider-btn(type="button" onclick="openBlock(event, 'slider__tab-4')") комментарии
            #slider__tab-1.works__slider.swiper-container
                .swiper-wrapper
                    .works__slider-item.swiper-slide
                        .works__slider-pic
                            +image("review-pic.png", "картинка отзыва", "work__slider-img")
                        .works__slider-description
                            .works__slider-desc Проект “Вита Плюс” Увеличение вовлеченности аудитории на 12%. Увеличение конверсии с 12% до 32%. Стоимость лида была снижена до 2$ с 7$
                            .works__slider-title Тариф:
                            .works__slider-subtitle Новые темы
                    .works__slider-item.swiper-slide
                        .works__slider-pic
                            +image("review-pic.png", "картинка отзыва", "work__slider-img")
                        .works__slider-description
                            .works__slider-desc text 2
                            .works__slider-title Тариф:
                            .works__slider-subtitle Новые темы
                    .works__slider-item.swiper-slide
                        .works__slider-pic
                            +image("review-pic.png", "картинка отзыва", "work__slider-img")
                        .works__slider-description
                            .works__slider-desc text 3
                            .works__slider-title Тариф:
                            .works__slider-subtitle Новые темы
                    .works__slider-item.swiper-slide
                        .works__slider-pic
                            +image("review-pic.png", "картинка отзыва", "work__slider-img")
                        .works__slider-description
                            .works__slider-desc text 4
                            .works__slider-title Тариф:
                            .works__slider-subtitle Новые темы
                    .works__slider-item.swiper-slide
                        .works__slider-pic
                            +image("review-pic.png", "картинка отзыва", "work__slider-img")
                        .works__slider-description
                            .works__slider-desc text 5
                            .works__slider-title Тариф:
                            .works__slider-subtitle Новые темы
                .swiper-pagination.works__pagination
                .works__slider-button-box
                    button.works__slider-button.works__slider-button-prev(type="button") назад
                    button.works__slider-button.works__slider-button-next(type="button") дальше
            #slider__tab-2.works__slider.swiper-container
                .swiper-wrapper
                    .works__slider-item.swiper-slide
                        .works__slider-pic
                            +image("review-pic.png", "картинка отзыва", "work__slider-img")
                        .works__slider-description
                            .works__slider-desc Проект “Вита Плюс” Увеличение вовлеченности аудитории на 12%. Увеличение конверсии с 12% до 32%. Стоимость лида была снижена до 2$ с 7$
                            .works__slider-title Тариф:
                            .works__slider-subtitle Обычный
                    .works__slider-item.swiper-slide
                        .works__slider-pic
                            +image("review-pic.png", "картинка отзыва", "work__slider-img")
                        .works__slider-description
                            .works__slider-desc text 2
                            .works__slider-title Тариф:
                            .works__slider-subtitle Обычный
                    .works__slider-item.swiper-slide
                        .works__slider-pic
                            +image("review-pic.png", "картинка отзыва", "work__slider-img")
                        .works__slider-description
                            .works__slider-desc text 3
                            .works__slider-title Тариф:
                            .works__slider-subtitle Обычный
                    .works__slider-item.swiper-slide
                        .works__slider-pic
                            +image("review-pic.png", "картинка отзыва", "work__slider-img")
                        .works__slider-description
                            .works__slider-desc text 4
                            .works__slider-title Тариф:
                            .works__slider-subtitle Обычный
                    .works__slider-item.swiper-slide
                        .works__slider-pic
                            +image("review-pic.png", "картинка отзыва", "work__slider-img")
                        .works__slider-description
                            .works__slider-desc text 5
                            .works__slider-title Тариф:
                            .works__slider-subtitle Обычный
                .swiper-pagination
                .works__slider-button-box
                    button.works__slider-button.works__slider-button-prev(type="button") назад
                    button.works__slider-button.works__slider-button-next(type="button") дальше
            #slider__tab-3.works__slider.swiper-container
                .swiper-wrapper
                    .works__slider-item.swiper-slide
                        .works__slider-pic
                            +image("review-pic.png", "картинка отзыва", "work__slider-img")
                        .works__slider-description
                            .works__slider-desc Проект “Вита Плюс” Увеличение вовлеченности аудитории на 12%. Увеличение конверсии с 12% до 32%. Стоимость лида была снижена до 2$ с 7$
                            .works__slider-title Тариф:
                            .works__slider-subtitle VIP
                    .works__slider-item.swiper-slide
                        .works__slider-pic
                            +image("review-pic.png", "картинка отзыва", "work__slider-img")
                        .works__slider-description
                            .works__slider-desc text 2
                            .works__slider-title Тариф:
                            .works__slider-subtitle VIP
                    .works__slider-item.swiper-slide
                        .works__slider-pic
                            +image("review-pic.png", "картинка отзыва", "work__slider-img")
                        .works__slider-description
                            .works__slider-desc text 3
                            .works__slider-title Тариф:
                            .works__slider-subtitle VIP
                    .works__slider-item.swiper-slide
                        .works__slider-pic
                            +image("review-pic.png", "картинка отзыва", "work__slider-img")
                        .works__slider-description
                            .works__slider-desc text 4
                            .works__slider-title Тариф:
                            .works__slider-subtitle VIP
                    .works__slider-item.swiper-slide
                        .works__slider-pic
                            +image("review-pic.png", "картинка отзыва", "work__slider-img")
                        .works__slider-description
                            .works__slider-desc text 5
                            .works__slider-title Тариф:
                            .works__slider-subtitle VIP
                .swiper-pagination
                .works__slider-button-box
                    button.works__slider-button.works__slider-button-prev(type="button") назад
                    button.works__slider-button.works__slider-button-next(type="button") дальше
            #slider__tab-4.works__slider.swiper-container
                .swiper-wrapper
                    .works__slider-item.swiper-slide
                        .works__slider-pic
                            +image("review-pic.png", "картинка отзыва", "work__slider-img")
                        .works__slider-description
                            .works__slider-desc Проект “Вита Плюс” Увеличение вовлеченности аудитории на 12%. Увеличение конверсии с 12% до 32%. Стоимость лида была снижена до 2$ с 7$
                            .works__slider-title Тариф:
                            .works__slider-subtitle Комментарии
                    .works__slider-item.swiper-slide
                        .works__slider-pic
                            +image("review-pic.png", "картинка отзыва", "work__slider-img")
                        .works__slider-description
                            .works__slider-desc text 2
                            .works__slider-title Тариф:
                            .works__slider-subtitle Комментарии
                    .works__slider-item.swiper-slide
                        .works__slider-pic
                            +image("review-pic.png", "картинка отзыва", "work__slider-img")
                        .works__slider-description
                            .works__slider-desc text 3
                            .works__slider-title Тариф:
                            .works__slider-subtitle Комментарии
                    .works__slider-item.swiper-slide
                        .works__slider-pic
                            +image("review-pic.png", "картинка отзыва", "work__slider-img")
                        .works__slider-description
                            .works__slider-desc text 4
                            .works__slider-title Тариф:
                            .works__slider-subtitle Комментарии
                    .works__slider-item.swiper-slide
                        .works__slider-pic
                            +image("review-pic.png", "картинка отзыва", "work__slider-img")
                        .works__slider-description
                            .works__slider-desc text 5
                            .works__slider-title Тариф:
                            .works__slider-subtitle Комментарии
                .swiper-pagination
                .works__slider-button-box
                    button.works__slider-button.works__slider-button-next(type="button") дальше
                    button.works__slider-button.works__slider-button-prev(type="button") назад
