.header__nav {
    @include phones {
        display: none;
    }
}

.header {
    position: relative;
}

.header-shadow {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.popup-menu {
    width: 90%;
    position: absolute;
    height: 300px;
    top: -9999px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    font-size: 12px;
    font-weight: 500;
    transition: height .7s;
    z-index: 100;
}

.popup-links {
    justify-content: space-evenly;
    align-content: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
}

.close-btn {
    position: absolute;
    width: 40px;
    height: 40px;
    top: -44px;
    right: 22px;
}

.popup-menu--active {
    top: 68px;
}

.hamburger {
    display: none;
    @include phones {
        display: block;
        position: absolute;
        right: 3%;
    }
    cursor: pointer;
}

.hamburger__button {
    width: 40px;
    height: 40px;
    border: 1px solid #eee;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all .3s ease;
    &--active {
        background-color: #3fad89;
    }
}

.line {
    width: 20px;
    height: 2px;
    border-radius: 1px;
    background-color: #3fad89;
    margin: 2px;
    transition: all .3s ease;
}

.header__content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header__logo {
    margin-right: 81px;
    width: 135px;
    @include hd {
        width: 200px;
    }
}

.header__logo-link {
    color: #35373a;
    text-transform: uppercase;
    font-family: 'Druk-Wide';
    font-weight: 500;
    font-size: rem(15px);
    &:first-child {
        margin-left: 1px;
    }
    @include hd {
        font-size: 22px;
    }
}

.header_logo-link--color {
    color: #333589;
}

.header__list {
    display: flex;
}

.header__item {
    margin-right: 40px;
    font-size: 12px;
    position: relative;
    &:last-child {
        margin-right: 0;
    }
    @include hd {
        font-size: 16px;
    }
    @include phones {
        margin: 0;
    }
}

.header__link {
    display: block;
    padding: 34px 0;
    font-family: 'Druk-Wide';
    font-weight: 500;
    color: #35373a;
    text-transform: uppercase;
    position: relative;
    transition: all .3s;
    &::before {
        display: block;
        content: "";
        width: 100%;
        position: absolute;
        top: -2px;
        height: 5px;
        background-color: #333589;
        border-radius: 0 0 5px 5px;
        transition: all .3s;
        opacity: 0;
        @include hd {
            top: -17px;
        }
        @include phones {
            display: none;
        }
    }
    &:hover {
        &::before {
            opacity: 1;
            display: block;
            content: "";
            width: 100%;
            position: absolute;
            top: -2px;
            height: 5px;
            background-color: #333589;
            border-radius: 0 0 5px 5px;
            @include hd {
                top: -17px;
            }
            @include phones {
                display: none;
            }
        }
    }
    @include phones {
        padding: 0;
    }
}

.active-link {
    &:before {
        content: "";
        display: block;
        position: absolute;
        top: -38px;
        left: 50%;
        transform: translateX(-50%);
        width: 80px;
        height: 5px;
        background-color: #333589;
        border-radius: 0 0 5px 5px;
    }
}

.lines {
    display: flex;
    flex-direction: column;
    align-items: center;
    &--active {
        top: 50%;
        left: 50%;
        margin-bottom: 6px;
        margin-right: 4px;
        transform: translate(-50%, -50%);
    }
}

.line__top--active {
    position: absolute;
    transform: rotate(-45deg);
    background-color: #fff;
}

.line__bottom--active {
    position: absolute;
    transform: rotate(45deg);
    background-color: #fff;
}

.line__middle--active {
    display: none;
}