.hero {
    padding-bottom: rem(30px);
    background-image: url('./assets/images/hero-gradient-bg.png');
    background-position-x: 15%;
    height: 100vh;
    @include phones {
        background-image: url('./assets/images/hero-mobile.png');
        background-position: center;
        background-size: contain;
    }
}

.hero__desc {
    text-align: left;
}

.hero__title {
    margin-top: rem(140px);
    @include phones {
        margin: 0;
        font-size: rem(30px);
    }
}

.hero__subtitle {
    margin-top: rem(27px);
    margin-bottom: rem(34px);
    font-size: rem(18px);
    text-transform: uppercase;
    font-weight: 800;
    @include phones {
        font-size: rem(24px);
    }
}

.hero__subtitle--add-text {
    font-size: rem(24px);
    font-weight: 400;
    text-transform: lowercase;
    @include phones {
        font-size: rem(24px);
    }
}

.hero__button {
    width: rem(214px);
    height: rem(40px);
    text-transform: uppercase;
    font-family: 'Druk-Wide';
    font-weight: 500;
    border-radius: 4px;
    background-color: #44bbff;
    color: #ffffff;
    font-size: rem(12px);
    transition: all .1s;
    &:hover {
        background-color: #31dbff;
        box-shadow: 1px 1px 7px #44bbff;
    }
}

.main-title--add-text {
    display: block;
}