.news-link {
    padding-top: 16px;
    @include phones {
        padding-top: 0;
    }
}

.news-link__header {
    @include phones {
        box-shadow: none;
    }
}

.news-link__main-content {
    @include phones {
        width: 100%;
    }
}

.news-link__pic {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 675px;
    margin-top: 15px;
    border-radius: 4px;
    background-size: cover;
    @include tablets {
        height: 470px;
    }
    @include phones {
        height: 184px;
        min-width: 100%;
        margin-top: 0;
    }
}

.news-link__head {
    flex-wrap: wrap;
    margin-bottom: 20px;

}

.news-link__title {
    width: 71%;
    margin-bottom: 25px;
    margin-top: 40px;

    @include phones {
        margin-top: 20px;
        width: 100%;
        margin-bottom: 10px;
        padding-bottom: 20px;
    }
}

.news-link__socials {
    margin-top: 50px;
    width: 29%;
    text-align: right;
}

.news-link {

    &__wrapper {
        display: flex;

        @include tablets {
            flex-direction: column;
        }
    }

    &__date {
        margin-bottom: 20px;
        opacity: 0.45;
        color: #35373a;
        font-size: 18px;
    }

    &__sidebar {
        flex: 0 0 30%;

        @include tablets {
            flex: 0 0 100%;
            margin-top: 30px;
        }
    }

    &__content {
        color: #35373a;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        flex: 0 0 70%;

        @include tablets {
            flex: 0 0 100%;
        }
    
        a {
            color: #31baff;
            border-bottom: 1px solid transparent;
            transition: all .3s;

            &:hover {
                border-bottom-color: #31baff;
            }
        }

        ol {
            padding-left: 18px;
        }

        ul {
            li {
                &:before {
                    content: '';
                    width: 8px;
                    height: 8px;
                    background-color: #00a0e0;
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 12px; 
                    border-radius: 50%;
                }
            }
        }
    
        li {
            margin-bottom: 10px;
        }
        
        p {
            margin-bottom: 15px;
        }
    
        h2 {
            color: #1f364a;
            font-family: "Druk-Wide";
            font-size: 24px;
            margin-top: 30px;
            font-weight: 500;
            margin-bottom: 20px;
        }
    }

    &__author {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 40px;

        @include phones {
            width: 90%;
            margin: 0 auto;
        }

        &::before {
            display: block;
            width: 100%;
            content: '';
            height: 4px;
            border-radius: 10px;
            background-color: #e6e6e6;
            margin-bottom: 30px;
        }
        
    }
}

.news-link__author-avatar {
    width: 85px;
    height: 85px;
    margin-right: 20px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;

    @include phones {
        margin-right: 10px;
    }
}

.news-link__author-about {
    font-size: 18px;
    @include tablets {
        width: 50%;
        font-size: 16px;
    }
    @include phones {
        width: 65%;
        font-size: 14px;
    }
}

.news-link__author-name {
    margin-bottom: 10px;
    color: #1f364a;
    font-family: "Druk-Wide";
    font-weight: 500;
    @include phones {
        margin-bottom: 5px;
    }
}

.news-link__author-desc {
    color: #35373a;
    font-weight: 400;
}