.news {
    background-color: #f9f9f9;
    padding: 80px 0;
    @include tablets {
        padding: 40px 0;
    }
}

.news__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
}

.news__socials {
    @include phones {
        display: none;
    }
}

.news__socials-title {
    opacity: 0.5;
    color: #1f364a;
}

.news-img {
    border-radius: 4px 4px 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px 4px 0 0;
    &-first {
        width: 90%;
        margin: 0 auto;
        border-radius: 4px 4px 0 0;
    }
}

.socials__list {
    display: flex;
    justify-content: flex-end;
}

.socials__link {
    display: block;
    width: 100%;
    height: 100%;
    padding: 13px 0 10px 13px;
}

.socials-icon {
    width: 30px;
    height: 30px;
}

.block__list {
    display: flex;
    flex-direction: column;
}

.block__item {
    height: 100%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    background-color: #fff;
    width: 100%;
    margin-bottom: 20px;
    &-link {
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        background-color: #fff;
        width: 100%;
        display: flex;
        transition: all .3s;
        &:hover {
            color: #31baff;
        }
        height: 100%;
        @include phones {
            flex-direction: column;
            box-shadow: 0 0;
        }
    }
}

.news__button-place {
    display: flex;
    justify-content: center;
}

.news__btn {
    background-color: #44bbff;
    font-family: "Druk-Wide";
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    border-radius: 4px;
    text-transform: uppercase;
    margin-top: 20px;
    width: 210px;
    padding: 14px;
    text-align: center;
    transition: all .3s;
    &:hover {
        background-color: #31dbff;
        box-shadow: 0px 1px 7px #44bbff;
    }
}

.block__img {
    width: 20%;
    @include phones {
        width: 90%;
        margin: 0 auto;
    }
}

.block__content {
    width: 80%;
    padding: 20px 100px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
    @include phones {
        width: 100%;
        padding: 0px 0 30px 20px;
    }
}

.block__content-text {
    margin-bottom: 15px;
    font-weight: 600;
    max-width: 565px;
    padding-right: 5px;
    padding-bottom: 15px;
    line-height: 28px;
    @include phones {
        margin-bottom: 33px;
    }
}

.block__content-date {
    opacity: 0.45;
    color: #35373a;
}

.news-title {
    width: 287px;
    line-height: 1.1;
    @include phones {
        font-size: 28px;
        text-align: center;
        margin: 0 auto;
    }
}