.news-page {
    background-color: #f9f9f9;
    min-height: 600px;
    padding-bottom: 44px;
    padding-top: 16px;
    @include tablets {
        padding-bottom: 57px;
    }
}

.news-page__heading {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 4px solid #e6e6e6;
    ;
}

.news__blocks--page {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;

    ol {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;

        li {
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }

            a {
                color: #35373a;
                transition: all .3s;
                width: 40px;
                display: block;
                border-radius: 4px;
                background: transparent;
                font-family: "Druk-Wide";
                font-weight: 400;
                font-size: 14px;
                text-align: center;
                padding: 4px 0;
    
                &:hover {
                    color: #31baff;
                }
            }
    
        }

       
        .current {
            color: #fff;
            background-color: #31baff;
            width: 40px;
            display: block;
            text-align: center;
            padding: 4px 0;
            border-radius: 4px;
            font-family: "Druk-Wide";
            font-weight: 400;
            font-size: 14px;
        }
    }

    .next {
        
        background-color: #31baff;
        font-size: 0;

        &::before {
            display: inline-block;
            content: url('./assets/images/news-right.svg');
            width: 8px;
            height: 12px;
            fill: #fff;
        }
    }

    .prev {
       
        background-color: #5d636821;
        font-size: 0;
    
        &::before {
            display: inline-block;
            content: url('./assets/images/news-left.svg');
            width: 8px;
            height: 12px;
            fill: #fff;
        }
    }


}

.news__pagination-btns {
    width: 40px;
    height: 20px;
    color: #fff;
    border-radius: 4px;
    line-height: 1.3;
}



