.partners {
    padding: 80px 0;
    text-align: center;
    @include tablets {
        padding: 30px 0;
    }
}

.partners-title {
    margin-bottom: 19px;
}

.partners__subtitle {
    width: 451px;
    margin: 0 auto;
    height: 58px;
    color: #5d6368;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    @include phones {
        width: 100%;
        margin-bottom: 30px;
    }
}

.partners__box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.partners__tabs {
    display: flex;
    width: 100%;
    @include phones {
        overflow: auto;
        min-height: 185px;
    }
}

.partners__tab {
    width: 24%;
    max-height: 180px;
    margin-right: 20px;
    cursor: pointer;
    @include phones {
        min-width: 240px;
    }
    @include phones-sm {
        min-width: 210px;
    }
    &::after {
        transition: opacity .3s;
        position: relative;
        display: block;
        top: -9999px;
        height: 180px;
        content: '';
        background-image: radial-gradient(circle closest-side at center, #98ddff 0%, #ffffff 100%);
        opacity: 0;
    }
    &--active {
        &::after {
            position: relative;
            display: block;
            top: -180px;
            height: 180px;
            content: '';
            background-image: radial-gradient(circle closest-side at center, #98ddff 0%, #ffffff 100%);
            opacity: 0.3;
        }
    }
    &:hover {
        &::after {
            position: relative;
            display: block;
            top: -180px;
            height: 180px;
            content: '';
            background-image: radial-gradient(circle closest-side at center, #98ddff 0%, #ffffff 100%);
            opacity: 0.3;
        }
    }
}

.partner__logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.partners__logo-desc {
    display: flex;
    bottom: 0px;
    width: 100%;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.13);
    border-radius: 3px;
    position: relative;
    text-align: left;
    padding: 35px 25px 43px 50px;
    @include tablets {
        display: flex;
        flex-direction: column;
        bottom: 0px;
        left: 5px;
        max-width: 98%;
        padding: 20px;
    }
    @include phones {
        margin-bottom: 10px;
    }
}

.partners__logo-desc--active1 {
    &::after {
        content: '\25B2';
        position: absolute;
        display: inline-block;
        transform: scaleX(2.5);
        color: #fff;
        top: -34px;
        left: 8%;
        text-shadow: 0 -3px 3px rgba(255, 255, 255, 0.7), 0px -3px 4px rgba(0, 0, 0, 0.12);
        font-size: 32px;
        z-index: 9999;
        @include tablets {
            font-size: 28px;
            top: -28px;
            left: 7%;
        }
        @include phones {
            left: 33%;
        }
    }
}

.partners__logo-desc--active2 {
    &::after {
        content: '\25B2';
        position: absolute;
        display: inline-block;
        transform: scaleX(2.5);
        color: #fff;
        top: -34px;
        left: 28%;
        text-shadow: 0 -3px 3px rgba(255, 255, 255, 0.7), 0px -3px 4px rgba(0, 0, 0, 0.12);
        font-size: 32px;
        z-index: 9999;
        @include tablets {
            font-size: 28px;
            top: -28px;
            left: 27%;
        }
        @include phones {
            left: 33%;
        }
    }
}

.partners__logo-desc--active3 {
    &::after {
        content: '\25B2';
        position: absolute;
        display: inline-block;
        transform: scaleX(2.5);
        color: #fff;
        top: -34px;
        left: 50%;
        text-shadow: 0 -3px 3px rgba(255, 255, 255, 0.7), 0px -3px 4px rgba(0, 0, 0, 0.12);
        font-size: 32px;
        z-index: 9999;
        @include tablets {
            font-size: 28px;
            top: -28px;
            left: 47%;
        }
        @include phones {
            left: 33%;
        }
    }
}

.partners__logo-desc--active4 {
    &::after {
        content: '\25B2';
        position: absolute;
        display: inline-block;
        transform: scaleX(2.5);
        color: #fff;
        top: -34px;
        left: 69%;
        text-shadow: 0 -3px 3px rgba(255, 255, 255, 0.7), 0px -3px 4px rgba(0, 0, 0, 0.12);
        font-size: 32px;
        z-index: 9999;
        @include tablets {
            font-size: 28px;
            top: -28px;
            left: 67%;
        }
        @include phones {
            left: 33%;
        }
    }
}

.partners__logo-desc--active5 {
    &::after {
        content: '\25B2';
        position: absolute;
        display: inline-block;
        transform: scaleX(2.5);
        color: #fff;
        top: -34px;
        left: 88%;
        text-shadow: 0 -3px 3px rgba(255, 255, 255, 0.7), 0px -3px 4px rgba(0, 0, 0, 0.12);
        font-size: 32px;
        z-index: 9999;
        @include tablets {
            font-size: 28px;
            top: -28px;
            left: 89%;
        }
        @include phones {
            left: 33%;
        }
    }
}

.desc-text {
    width: 75%;
    @include tablets {
        width: 100%;
        height: 100%;
    }
    @include phones {
        width: 100%;
        height: auto;
    }
}

.desc-text__content {
    margin-right: 60px;
    color: #35373a;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    @include tablets {
        margin-right: 0;
        width: 100%;
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 1.4;
    }
}

.desc-person {
    width: 25%;
    padding-left: 40px;
    border-left: 4px solid #ebebeb80;
    border-radius: 4px;
    &__name {
        width: 96px;
        color: #3fad89;
        font-family: "Druk-Wide";
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 22px;
    }
    &__position {
        color: #5d6368;
        font-size: 14px;
        line-height: 20px;
    }
    @include tablets {
        width: 100%;
        border-left: none;
        border-top: 4px solid #ebebeb80;
        padding-left: 0;
        padding-top: 20px;
    }
}