.warranty {
    background-color: #fff;
    padding: rem(60px) 0 rem(50px) 0;
}

.warranty__head {
    text-align: center;
}

.warranty-subtitle {
    width: rem(600px);
    margin: rem(20px) auto;
}

.features__list {
    margin: rem(40px) 0;
    width: 100%;
    padding-top: rem(30px);
    padding-bottom: rem(30px);
    display: flex;
    border-top: 1px solid #35373a1f;
    border-bottom: 1px solid #35373a1f;
    @include phones {
        flex-direction: column;
    }
}

.features__item {
    display: inline-block;
    width: 25%;
    padding-right: rem(12px);
    font-size: rem(16px);
    &:first-child {
        margin-left: 0;
    }
    margin-left: rem(30px);
    border-radius: 4px;
    border-right: 4px solid #ebebeb7e;
    &:nth-child(4) {
        border: none;
    }
    @include phones {
        width: 100%;
        margin-left: 0;
        padding-right: 0;
        text-align: center;
        border-right: none;
        border-bottom: 4px solid #ebebeb7e;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
}

.features__name {
    font-family: 'Druk-Wide';
    font-size: rem(14px);
    margin-bottom: rem(20px);
    color: #3fad89;
    font-weight: 800;
    text-transform: uppercase;
}

.features__desc {
    font-size: rem(14px);
    color: #35373a;
}

.steps__title {
    font-family: "Druk-Wide";
    font-weight: 500;
    margin-bottom: rem(30px);
}

.steps__link {
    color: #31baff;
}

.steps__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: rem(40px);
    @include phones {
        flex-direction: column;
    }
}

.steps__item {
    display: inline-block;
    width: 23%;
    padding: rem(25px);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin-right: rem(20px);
    &:last-child {
        margin-right: 0;
    }
    @include phones {
        width: 100%;
    }
}

.steps__item-tariff {
    width: 24%;
    @include phones {
        width: 100%;
    }
}

.steps__block {
    border-bottom: 1px solid #35373a1f;
}

.steps__number {
    color: #333589;
    font-size: rem(24px);
    font-family: "Druk-Wide";
}

.steps__desc {
    font-weight: 600;
    font-size: rem(18px);
    line-height: 28px;
    color: #35373a;
}

.payment {
    width: 80%;
    margin: rem(40px) auto;
    display: flex;
    align-items: center;
    justify-content: center;
    @include phones {
        width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

.payment__title {
    font-family: "Druk-Wide";
    font-weight: 500;
    color: #1f364a;
    opacity: .5;
    font-size: rem(24px);
    width: rem(200px);
    margin-right: rem(80px);
    @include phones {
        width: 100%;
        margin-bottom: rem(20px);
    }
}

.payment__pic {
    &:last-child {
        margin-left: rem(60px);
    }
    @include phones {
        align-self: center;
        margin-bottom: rem(20px);
        &:last-child {
            margin-bottom: 0;
        }
    }
}