.warranty {
    background-color: #fff;
    padding: rem(60px) 0 rem(50px) 0;
}


.warranty__head {
    text-align: center;
}

.warranty-subtitle {
    width: rem(600px);
    margin: rem(20px) auto;
}

.features__list {
    margin: rem(40px) 0;
    width: 100%;
    padding-top: rem(30px);
    padding-bottom: rem(30px);
    display: flex;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.features__item {
    display: inline-block;
    width: 25%;
    padding-right: rem(12px);
    font-size: rem(16px);
    &:first-child {
        margin-left: 0;
    }
    margin-left: rem(30px);
    border-right: 2px solid lightgrey;
    &:nth-child(4) {
        border: none;
    }
    
}

.features__name {
    font-family: 'Druk-Wide';
    font-size: rem(14px);
    margin-bottom: rem(20px);
    color: #3fad89;
    font-weight: 800;
    text-transform: uppercase;
}

.features__desc {
    font-size: rem(14px);
    color: #35373a;
}

.steps__title {
    font-family: "Druk-Wide";
    font-weight: 500;
    margin-bottom: rem(30px);
}

.steps__link {
    color: #31baff;
}

.steps__list {
    display: flex;
    justify-content:  space-between;
    width: 100%;
    margin-bottom: rem(40px);
}

.steps__item {
    display: inline-block;
    width: 22%;
    padding: rem(15px);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.steps__block {
    border-bottom: 1px solid lightgrey;
}

.steps__number {
    color: #333589;
    font-size: rem(24px);
    font-family: "Druk-Wide";
}

.steps__desc {
    font-weight: 600;
    font-size: rem(18px);
    line-height: 28px;
    color: #35373a;
}

.payment {
    width: 75%;
    margin: rem(40px) auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.payment__title {
    font-family: "Druk-Wide";
    color: grey;
    font-size: rem(24px);
    width: rem(200px);
}

.payment__pic {
    width: 50%;
    &:nth-child(1) {
        margin-right: rem(40px);
    }
}

