*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: rem(16px);
}

body {
    font-family: "SourceSansPro", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    line-height: 1.42;
    color: #35373a;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    margin: 0;
}

button {
    border: 0;
    cursor: pointer;
    outline: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #383a3c;
}

p {
    margin: 0;
    padding: 0;
}

address {
    font-style: normal;
}

:valid {
    outline: 1px solid #31baff;
}

:invalid {
    outline: 2px solid #ff9292;
}

// instead of display: none;
.vshidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main-section {
    width: 100%;
    padding-bottom: rem(30px);
}

.main-content {
    width: 80%;
    margin: 0 auto;
    @include phones {
        width: 90%;
        overflow: hidden;
    }
}

.main-title {
    font-family: "Druk-Wide";
    font-weight: 500;
    color: #1f364a;
    font-size: 38px;
}

.main-title--white {
    font-weight: 500;
    font-family: "Druk-Wide";
    color: #fff;
    font-size: 38px;
}