include ./assets/pug/common/_mixins
<!DOCTYPE html>
html(lang="ru-RU")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title FAQ

    body
        .wrapper
            main.main
                header.header.header-shadow
                    .header__content
                        .popup-menu
                        .header__logo
                            a.header__logo-link(href="index.html") 
                                div trustcrow
                                div.header_logo-link--color .link
                        nav.header__nav
                            ul
                                li
                                    a(href="#0") работы
                                li
                                    a(href="#0") тарифы
                                li
                                    a(href="faq.html") faq
                                li
                                    a(href="news.html") новости
                        .hamburger(data-count='0')
                            .hamburger__button
                                .lines
                                    .line.line__top
                                    .line.line__middle
                                    .line.line__bottom
                include ./assets/pug/sections/faq-section.pug
            include ./assets/pug/sections/footer.pug