include ./assets/pug/common/_mixins
<!DOCTYPE html>
html(lang="ru-RU")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Blog|Article
    body
        .wrapper
            main.main
                header.header.header-shadow.news-link__header
                    .header__content
                        .popup-menu
                        .header__logo
                            a.header__logo-link(href="index.html") 
                                div trustcrow
                                div.header_logo-link--color .link
                        nav.header__nav
                            ul.header__list
                                li.header__item
                                    a.header__link(href="#0") работы
                                li.header__item
                                    a.header__link(href="#0") тарифы
                                li.header__item
                                    a.header__link(href="faq.html") faq
                                li.header__item
                                    a.header__link(href="news.html") новости
                        .hamburger(data-count='0')
                            .hamburger__button
                                .lines
                                    .line.line__top
                                    .line.line__middle
                                    .line.line__bottom
                section.main-section.news-link
                    .main-content.news-link__main-content
                        .bread-crumbs
                            ul.bread-crumbs__list
                                li.bread-crumbs__item
                                    a.home-btn(href="index.html")
                                        +image('home-icon.svg', 'icon', 'home-icon__image')
                                li.bread-crumbs__item
                                    a.bread-crumbs__link(href="news.html") Новости
                                li.bread-crumbs__item
                                    p.bread-crumbs__link Какие анкоры использовать в крауд-ссылках?
                        .news-link__pic(style="background-image:url(./images/news-link_pic.png)")
                        .news-page__heading.news-link__head
                            h1.main-title.news-page__title.news-link__title Какие анкоры использовать в крауд-ссылках?
                            .news__socials.news-link__socials
                                span.news__socials-title Последние новости в наших соц. сетях:
                                ul.socials__list
                                    li.socials__item
                                        a.socials__link(href="#0", target="_blank")
                                            +image('social-fb.svg', 'icon', 'socials-icon')
                                    li.socials__item
                                        a.socials__link(href="#0", target="_blank")
                                            +image('social-twitter.svg', 'icon', 'socials-icon')
                                    li.socials__item
                                        a.socials__link(href="#0", target="_blank")
                                            +image('social-insta.svg', 'icon', 'socials-icon')
                                    li.socials__item
                                        a.socials__link(href="#0", target="_blank")
                                            +image('social-telegram.svg', 'icon', 'socials-icon')
                            time.news-link__date(pubdate)  21 октября 2018
                        .news-link__wrapper
                            .news-link__content
                                p Один из самых популярных вопросов клиентов — как правильно составить анкор лист для крауд маркетинга. Все хотят преследовать несколько важных целей:
                                ol
                                    li Не попасть под санкции
                                    li Получить рост позиций по ключам в анкорах
                                    li Получить переходы по ссылкам из крауд постов на свой сайт
                                p В этой статье я кратко расскажу, как сделать всё правильно и ничего не пропустить.
                                h2 Какие бывают типы анкоров
                                p Сразу определимся, что есть несколько типов анкоров ссылок:
                                ul
                                    li текст с запросом (ключевой фразой)
                                    li естественный текст
                                    li сама ссылка (безанкор)
                                    li картинка
                                p Быстро пройдёмся по каждому типу отдельно.
                                h2 Текст с запросом
                                p Просто вписываем фразу с интересующим нас ключом. Обычно берётся запрос из title / h1 страницы, как наиболее приоритетный.
                                p Например: купить квартиру в Киеве
                                h2 Естественный текст
                                p В анкор идут любые быстрые фразы, к которым люди обычно прикрепляют ссылки.
                                p Например: тут, на сайте, по ссылке и так далее.
                                h2 Безанкор
                                p В анкор идёт сама же ссылка. Пример: #[a(href="https://crowd-marketing.pro/") https://crowd-marketing.pro/]
                                h2 Картинка
                                p В пост вставляется тематическая картинка и на неё вешается ссылка на продвигаемую страницу сайта. Ключевая фраза уместно вписывается в околоанкорный текст поста и по-прежнему помогает двигать позиции.
                                p Это просто крутейший лайфак для крауд-маркетолога, так как на ресурсах, где всегда удаляют обычные ссылки, нормально пропускают и разрешают постить ссылки-картинки.
                                h2 Как распределять анкоры, чтобы не попасть под санкции
                                p Крауд-маркетинг максимально безопасный способ набрать качественную ссылочную массу. В нашей практике нет случаев, когда клиентский сайт получал пессимизацию после проведения размещений.
                                p Тем не менее, я максимально уверен, то стоит соблюдать элементарные правила распределения анкоров, тем самым избежать всех рисков и получать максимальный эффект от ссылок.
                                p Основной упор стоит делать на безанкорные ссылки, как на самые безопасные и продуктивнее. Такие ссылки хорошо воспринимаются поисковыми системами и отлично видны в тексте поста (на них кликают).
                                p Дальше по приоритету — анкорные ссылки и ссылки с естественным анкором.
                                
                                .news-link__author
                                    .news-link__author-avatar(style="background-image: url(./images/news-link_ava.png)")
                                    .news-link__author-about
                                        .news-link__author-name Василий Романов
                                        .news-link__author-desc Основатель сервисов крауд-маркетинга trustcrowd.link

                            .news-link__sidebar
                                .form__success
                                    img(src="images/success.svg", alt="Success")
                                    .success__heading Спасибо!<br>Ваша заявка отправлена
                                    .success__text Мы скоро свяжемся с вами
                                form.faq__form.news-link__form
                                    h2.faq__form-title.news-link__form-title Нужна такая услуга?
                                    span.faq__form-subtitle Закажите ее в этой форме
                                    label.input-wrap
                                        span Имя
                                        input(type="text").faq-input
                                    label.input-wrap
                                        span Email
                                        input(type="email").faq-input
                                    label.input-wrap 
                                        span Адрес вашего сайта
                                        input(type="text").faq-input
                                    label.input-wrap
                                        span Задача
                                        input(type="text").faq-input
                                    button(type="submit").faq-submit Отправить
                        
            include ./assets/pug/sections/footer.pug